In [1]:
import os
import requests
import zipfile
import tempfile
import pandas as pd

In [2]:
import glob

fields = '''
geonameid
name
asciiname
alternatenames
latitude
longitude
feature class
feature code
country code
cc2
admin1 code
admin2 code
admin3 code
admin4 code
population
elevation
dem
timezone
modification date
'''.strip().split('\n')
fields = [f.strip() for f in fields]

In [3]:
local_zip = 'local.zip'
dataset = 'GB'
with tempfile.TemporaryDirectory() as tmp:
    current_dir = os.getcwd()
    try:
        os.chdir(tmp)
        r = requests.get(
            f'http://download.geonames.org/export/dump/{dataset}.zip')
        with open(local_zip, 'wb') as f:
            f.write(r.content)

        with zipfile.ZipFile(local_zip, 'r') as zip:
            zip.extractall('.')
        print(glob.glob('*'))
        data = pd.read_csv(f'{dataset}.txt', sep='\t',
                           header=None, names=fields)
    finally:
        os.chdir(current_dir)

['GB.txt', 'local.zip', 'readme.txt']

/tmp/ipykernel_74857/3314939933.py:15: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{dataset}.txt', sep='\t',

In [6]:
data

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,5653,Phrakhtaes,Phrakhtaes,NaN,34.56717,33.02724,L,LCTY,GB,NaN,05,NaN,NaN,NaN,0,NaN,32,Europe/London,2014-09-30
1,5654,Glossa tou Shyllou,Glossa tou Shyllou,NaN,34.57083,33.02917,L,LCTY,GB,NaN,05,NaN,NaN,NaN,0,NaN,18,Europe/London,2014-10-01
2,5655,Arkosyia,Arkosyia,NaN,34.57917,33.02500,L,LCTY,GB,NaN,05,NaN,NaN,NaN,0,NaN,5,Europe/London,2014-10-01
3,5656,Ammoskatharaes,Ammoskatharaes,NaN,34.56795,33.01775,L,LCTY,GB,NaN,05,NaN,NaN,NaN,0,NaN,51,Europe/London,2014-10-01
4,5657,Skaloua Tris Kazoulies,Skaloua Tris Kazoulies,NaN,34.57083,33.01667,L,LCTY,GB,NaN,05,NaN,NaN,NaN,0,NaN,42,Europe/London,2014-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87462,12624956,Nasir Mosque,Nasir Mosque,"msjd nasr,مسجد ناصر",54.69313,-1.21625,S,MSQE,GB,NaN,ENG,F5,NaN,NaN,0,NaN,1,Europe/London,2023-10-23
87463,12624957,Al-Mahdi Mosque,Al-Mahdi Mosque,"msjd almہdy,مسجد المہدی",53.80115,-1.74462,S,MSQE,GB,NaN,ENG,B4,NaN,NaN,0,NaN,152,Europe/London,2023-10-23
87464,12624958,Darul Aman Mosque,Darul Aman Mosque,"msjd dar alaman,مسجد دار الأمان,مسجد دار الامان",53.46222,-2.23941,S,MSQE,GB,NaN,ENG,I2,NaN,NaN,0,NaN,58,Europe/London,2023-10-23
87465,12624960,Baitul Futuh Mosque,Baitul Futuh Mosque,"msjd byt alftwh,مسجد بیت الفتوح",51.39624,-0.19895,S,MSQE,GB,NaN,ENG,GLA,I4,NaN,0,NaN,36,Europe/London,2023-10-23
87466,12624961,The London Mosque,The London Mosque,"Fazl Mosque,London Mosque,msjd fdl,مسجد فضل",51.45118,-0.20736,S,MSQE,GB,NaN,ENG,GLA,P1,NaN,0,NaN,18,Europe/London,2023-10-23

In [7]:
data.loc[:, ['name', 'latitude', 'longitude', 'feature code']].set_index('name').to_parquet('../static/places.parquet')